Makefile
olam
olam.pro.*
moc_about.cpp
moc_olam.cpp
qrc_icons.cpp
ui_about.h
ui_olam.h
moc_predefs.h
*.snap
parts/
prime/
stage/
*.o
*.autosave
.DS_Store
.qmake.stash
olam.app/
qmake_qmake_immediate.qrc
qrc_qmake_qmake_immediate.cpp
