language: cpp

dist: bionic

compiler:
  - clang
  - gcc

os:
  - linux

env:
  global:
    - LC_ALL: C.UTF-8
    - LANG: C.UTF-8
    - SNAPCRAFT_ENABLE_SILENT_REPORT: y
    - SNAPCRAFT_BUILD_INFO: y
    - SNAPCRAFT_BUILD_ENVIRONMENT: lxd

addons:
  snaps:
   - name: snapcraft
     channel: stable
     confinement: classic
     classic: true
   - name: lxd
     channel: stable

before_install:
  - sudo apt-get update -qq

install:
  - sudo apt-get install -qq cppcheck doxygen graphviz lcov qt5-qmake qtbase5-dev 

before_script:
  - qmake -qt=qt5

script:
  - cppcheck --error-exitcode=1 --quiet .
  - make
  - make check
  - sudo /snap/bin/lxd.migrate -yes
  - sudo /snap/bin/lxd waitready
  - sudo /snap/bin/lxd init --auto
  - 'if [ -n "$SOURCE_TAG" ]; then sed -i "s/source-branch.*/source-tag: $SOURCE_TAG/" snapcraft.yaml ; fi'
  - sudo snapcraft --use-lxd

after_success:
  - make -C test coverage

after_failure:
  - sudo journalctl -u snapd
