[Desktop Entry]
Type=Application
Name=Olam
Name[en]=olam
Version=1.1
GenericName=Dictionary
Categories=Utility;Languages;Accessories;
Exec=olam
Icon=/usr/share/icons/olam.png
Name[en_IN]= Olam
